<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Sourav <sup>'s</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Single Dropdown -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="true" aria-controls="collapseMenu">
            <i class="fas fa-fw fa-folder"></i>
            <span>Menu</span>
        </a>
        <div id="collapseMenu" class="collapse" aria-labelledby="headingMenu" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                
                <a class="collapse-item" href="/admin/footer">
                    <i class="fas fa-shoe-prints"></i></i>
                    <span>Footer</span>
                </a>
                <a class="collapse-item" href="/admin/users">
                    <i class="fas fa-user"></i>
                    <span>Users</span>
                </a>
                <a class="collapse-item" href="/admin/title">
                    <i class="fas fa-scroll"></i>
                    <span>Title Section</span>
                </a>
                <a class="collapse-item" href="/admin/banner">
                    <i class="fas fa-image"></i>
                    <span>index/Banner</span>
                </a>
                <a class="collapse-item" href="/admin/features">
                    <i class="fas fa-star"></i>
                    <span>index/Features</span>
                </a>
                <a class="collapse-item" href="/admin/about-home">
                    <i class="fas fa-bars"></i></i>
                    <span>index/About</span>
                </a>
                <a class="collapse-item" href="/admin/care">
                    <i class="fas fa-heartbeat"></i>
                    <span>index/Care</span>
                </a>
                <a class="collapse-item" href="/admin/patient-review">
                    <i class="fas fa-comments"></i>
                    <span>index/Testimonial</span>
                </a>
                <a class="collapse-item" href="/admin/partner">
                    <i class="fas fa-handshake"></i></i>
                    <span>index/Partner</span>
                </a>
                <a class="collapse-item" href="/admin/section-about">
                    <i class="fas fa-pen"></i></i>
                    <span>about/Section-About</span>
                </a>
                <a class="collapse-item" href="/admin/feature-about">
                    <i class="fas fa-snowflake"></i></i>
                    <span>about/Feature-About</span>
                </a>
                <a class="collapse-item" href="/admin/achievements">
                    <i class="fas fa-award"></i></i>
                    <span>about/Achievements</span>
                </a>
                <a class="collapse-item" href="/admin/specialists">
                    <i class="fas fa-user-md"></i></i>
                    <span>about/Specialists</span>
                </a>
                <a class="collapse-item" href="/admin/section-testimonial">
                    <i class="fas fa-comment"></i></i>
                    <span>about/Testimonial</span>
                </a>
                <a class="collapse-item" href="/admin/service">
                    <i class="fas fa-wrench"></i></i>
                    <span>service/Services</span>
                </a>
                <a class="collapse-item" href="/admin/cta">
                    <i class="fas fa-screwdriver"></i></i>
                    <span>service/Cta Page</span>
                </a>
                <a class="collapse-item" href="/admin/departments">
                    <i class="fas fa-building"></i></i>
                    <span>department/Departments</span>
                </a>
                <a class="collapse-item" href="/admin/doctors">
                    <i class="fas fa-user-md"></i></i>
                    <span>doctor/Doctors</span>
                </a>
                <a class="collapse-item" href="/admin/AllBlogs">
                    <i class="fas fa-file-word"></i>
                    <span>Blogs</span>
                </a>
                <a class="collapse-item" href="/admin/comments">
                    <i class="fas fa-comment"></i>
                    <span>Blog Comments</span>
                </a>
                <a class="collapse-item" href="/admin/contact">
                    <i class="fas fa-address-book"></i>
                    <span>contact/Contacts</span>
                </a>
                <a class="collapse-item" href="/admin/hospitalContact">
                    <i class="fas fa-hospital"></i>
                    <span>contact/Our Contact</span>
                </a>
                
            </div>
        </div>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->
